ConnectionStrings__PostgreSql="Host=db.xxx.supabase.co;Port=5432;Database=postgres;Username=postgres;Password=YOUR_PASSWORD_HERE;Ssl Mode=Require;Trust Server Certificate=true;"
ConnectionStrings__Redis="localhost:6379"
ALLOWED_CORS_ORIGIN="https://kullaniciadi.github.io"
